   <%- include('partials/_header') %>
    <h1>studies</h1>
    <section class="notes-list">
    <% studies.forEach( el => { %>
        <section class='studyItem' data-id='<%=el._id%>'>   
            <div class='<%= el.completed === true ? 'completed' : 'not'%>'>
                <h2><%= el.studyItem %></h2>
                <p><%=el.textArea%></p>
                <span class='del'> Delete </span> 
            </div>   
        </section>

            <!-- <li class='studyItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li> -->
    <% }) %>    
</section>    

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <section class="px-5">
    <form action="/studies/createStudy" method='POST'>
        <input type="text" placeholder="Title" name='studyItem' class="w-100">
        <textarea name="textArea" id="" cols="30" rows="10" class="w-100"></textarea>
        <input type="submit">
    </form>
    </section>
    

    <a href="/logout">Logout</a>

    <%- include('partials/_footer') %>