<%- include('partials/_header') %>

    <% function truncator(str, len) {
        if (str.length > len && str.length > 0) {
            let new_str = str + ' '
            new_str = str.substr(0, len)
            new_str = str.substr(0, new_str.lastIndexOf(' '))
            new_str = new_str.length > 0 ? new_str : str.substr(0, len)
            return new_str + '...'
        }
        return str
         }
     %>    

    <section class="studies-container">
        <!-- <ul class="nav nav-pills p-3 bg-white mb-3 rounded-pill align-items-center">
            <li class="nav-item ml-auto">
                <a href="" class="nav-link btn-primary rounded-pill d-flex align-items-center px-3" id="add-notes"> <i class="icon-note m-1"></i><span class="d-none d-md-block font-14">Add Notes</span></a>
            </li>
        </ul> -->

        <!-- Modal  -->
        <button id="modalBtn" class="modal-test button rounded-pill">Click Me Dave</button>
        <div id="simpleModal" class="modal-overlay">
            <div class="modal-content">
              <div class="modal-header">
                  <span class="closeBtn"> ♥</span>
                  <h2>Add a Study Note</h2>
              </div>
              <div class="modal-body">
                <form action="/studies/createStudy" method='POST'>
                    <input type="text" placeholder="Title" name='studyItem' class="w-100">
                    <textarea name="textArea" id="" cols="30" rows="10" class="w-100" placeholder="Brief notes about study plan" maxlength="250"></textarea>
                    <input type="submit">
                </form>
              </div>
              <div class="modal-footer">
                <h3>Footer</h3>
              </div>
            </div>
        </div>



        <div class="container pt-3">
            <h3>Studies in Progress</h3>

            <div id="note-full-container" class="note-has-grid row">
                <% studies.filter(el=> el.completed === false).forEach( el => { %>
                    <div class="col-md-4 single-note-item card-clicker">
                        <section class="card card-body" data-id='<%=el._id%>'>
                            <span class="side-stick"></span>
                            <h5 class="note-title w-75 mb-0">
                                <%= el.studyItem %></i>
                            </h5>
                            <p class="note-date font-12"><span>Due Date:</span> 11 March 2009</p>
                            <div class="note-content">
                                <p class="note-inner-content">
                                    <%= truncator(el.textArea, 200)   %>
                                </p>
                            </div>


<!-- testing new modals  -->
                            
                            <div id="simpleModal" class="modal-overlay">
                                <div class="modal-content">
                                  <div class="modal-header">
                                      <span class="closeBtn"> ♥</span>
                                      <h2>Add a Study Note</h2>
                                  </div>
                                  <div class="modal-body">
                                    <form action="/studies/createStudy" method='POST'>
                                        <input type="text" placeholder="Title" name='studyItem' class="w-100">
                                        <textarea name="textArea" id="" cols="30" rows="10" class="w-100" placeholder="Brief notes about study plan" maxlength="250"></textarea>
                                        <input type="submit">
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <h3>Footer</h3>
                                  </div>
                                </div>
                            </div>




                            <div class="d-flex align-items-center justify-content-around">
                                <span class='mark-complete'><i class="fa fa-check-square-o"></i>Mark Complete </span>
                                <span class="del"><i class="fa fa-trash remove-note"></i>Delete</span>
                            </div>
                        </section>
                    </div>
                <% }) %>
            </div>

                <!-- Completed Studies Section  -->
                <h3>Completed Studies</h3>

                <div id="note-full-complete-container" class="note-has-grid row">
                    <% studies.filter(el=> el.completed === true).forEach( el => { %>
                        <div class="col-md-4 single-note-item">
                            <section class="card card-body" data-id='<%=el._id%>'>
                                <span class="side-stick"></span>
                                <h5 class="note-title w-75 mb-0">
                                    <%= el.studyItem %></i>
                                </h5>
                                <p class="note-date font-12"><span>Due Date:</span> 11 March 2009</p>
                                <div class="note-content">
                                    <p class="note-inner-content">
                                        <%= el.textArea%>
                                    </p>
                                </div>
                                <div class="d-flex align-items-center justify-content-around">
                                    <span class='mark-incomplete'><i class="fa fa-minus-square-o"></i>Mark Incomplete </span>
                                    <span class="del"><i class="fa fa-trash remove-note"></i>Delete</span>
                                </div>
                            </section>
                        </div>
                    <% }) %>
                </div>
            </section>

            <h2>
                <%= user.userName %> has <%= left %> things left to study.
            </h2>

        </div>

    </section>

    <%- include('partials/_footer') %>