   <%- include('partials/_header') %>
    <h1>Todos</h1>
    <section class="notes-list">
    <% todos.forEach( el => { %>
        <section class='todoItem' data-id='<%=el._id%>'>   
            <div class='<%= el.completed === true ? 'completed' : 'not'%>'>
                <h2><%= el.todoItem %></h2>
                <p><%=el.textArea%></p>
                <span class='del'> Delete </span> 
            </div>   
        </section>

            <!-- <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li> -->
    <% }) %>    
</section>    

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <section class="px-5">
    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Title" name='todoItem' class="w-100">
        <textarea name="textArea" id="" cols="30" rows="10" class="w-100"></textarea>
        <input type="submit">
    </form>
    </section>
    

    <a href="/logout">Logout</a>

    <%- include('partials/_footer') %>